<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-card color="secondary" class="ion-text-center">
          <ion-card-header>
            <ion-card-title>SkeletonApp</ion-card-title>
            <ion-card-subtitle
              >Bienvenido a SkeletonApp, todavia no se que hace esta app</ion-card-subtitle
            >
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-list>
                <ion-item>
                  <h1>tus datos</h1>
                </ion-item>
                <ion-item>
                  <ion-input label="Nombre" placeholder="username" value="{{user.username}}" ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input label="Apellido" placeholder="apellido" value="{{user.surname}}" ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input label="nivel educación" placeholder="apellido" value="{{user.education}}" ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input label="Fecha nacimiento" placeholder="tu fecha nacimiento" value="{{user.date}}" ></ion-input>
                </ion-item>
              </ion-list>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
